<div class="grid justify-content-center p-card" style="margin-top: 30px;">
    <div class="col-6 text-right">
            <input  type="text" id="name" [(ngModel)] = "searchKeyWord" (onClick) ="search()" pInputText placeholder="Search with id or name" style="width: 30%; margin-right: 10px;"/>
            <button pButton  type="button" (keyup.enter)="search()" label="Search" (click)="search()" ></button>
    </div>
    <div class="col-6 text-right">
        <button style="margin-right: 10px;" pButton pRipple  type="button" label="Show All" (click)="showAll()" ></button>
        <button pButton pRipple  [disabled]="!isEditable"   type="button" label="Create User" (click)="create()" class="p-button-success"></button>
    </div>
    <div class="col-12">
        <p-table  #dt rowHover="true" [value]="userList" [paginator]="true" [rows]="50"
        [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalRecord" [lazy]="true" [lazyLoadOnInit]="false"
        (onLazyLoad)="lazyLoadEvent($event)"  scrollable="true" scrollHeight="600px" 
        [loading] = "tableLoading"> 
        <ng-template pTemplate="header">
            <tr >

                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="id">
                    User ID
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="userName">
                    User Name
                    <p-sortIcon field="trainerName"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="createdDate">
                    Created Date
                    <p-sortIcon field="createdDate"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-center">
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" 
            let-columns="columns">
            <tr>
                <td style="min-width: 50px;">
                    {{rowData.id}}
                </td>
                <td style="min-width: 50px;" class="justify-content-start">
                    {{ rowData.userName }}
                </td>
                <td style="min-width: 50px;" class="justify-content-start">
                   {{ rowData.createdDate}}
                </td>
                <td style="min-width: 50px;" class="justify-content-center">
                    <a style="margin-right: 10px;">
                        <i class="pi pi-pencil pr-15" (click) = "edit(rowData.id)"></i>
                    </a>
                    <a>
                        <i class="pi pi-trash red" (click)="delete(rowData)"></i>
                    </a>
        
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>

                <td [attr.colspan]="4">No records found</td>
            </tr>
        </ng-template>


        </p-table>
    </div>
</div>