.margin-top-30{
    margin-top: 30px
}

.margin-top-15{
    margin-top: 15px
}

.margin-top-10{
    margin-top: 10px
}

.margin-top-3{
    margin-top: 3px
}

th {
    background-color:#3047c4 !important;
    color:white !important;
  }