<div class="grid">
    <!-- Student Information -->
    <div class="col-12">
        <p-card>
            <div>
                <h3 *ngIf="!isNew">Detalis Information of {{student.name}}</h3>
                <h3 *ngIf="isNew">Create New Student</h3>
            </div>
            <div class="grid align-items-center">
               
                <div class="grid justify-content-between col-12">
                    <h3>Profile</h3>
                     <span *ngIf="!isStudent">
                         <span *ngIf="isEditable">
                            <button style="margin-right: 10px;" pButton pRipple  [disabled]="!isEditable"   type="button" label="Save" (click)="save()" class="p-button-success"></button>
                         </span>
                        <p-button label="Back" (click)="back()" styleClass="p-button-secondary"></p-button>
                     </span>
                </div>

                 <!-- Left -->
                <div class="col-12 md:col-6 lg:col-5 align-items-center">
                   <div class="grid align-items-center">
                        <div class="col-12 md:col-6 lg:col-8 align-items-center">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Id</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable"
                                        [(ngModel)]="student.id" placeholder="StudentID" pInputText />
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Name</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable" [(ngModel)]="student.name"    
                                    placeholder="Name" pInputText />
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Date Of Birth</div>
                                <div class="col-8">
                                   <span *ngIf="isEditable">
                                    <p-calendar [(ngModel)]="dateOfBirth" placeholder="dd/MM/yy" dateFormat="dd/mm/yy"
                                    [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" inputId="dob" [showButtonBar] ="true"
                                    [readonlyInput]="true" [showIcon]="true" inputId="icon" ></p-calendar>
                                   </span>

                                    <span *ngIf="!isEditable"> {{ dateOfBirth || "" | date: "dd/MM/yy" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Gender</div>
                                <div class="col-8">
                                    <p-dropdown [disabled]="!isEditable" [style]="{'width': '95%'} " [options]="availableGender" id="trainingYear" required="true"
                                    [(ngModel)]="student.gender" placeholder="Select Training Year "></p-dropdown>  
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">CId</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable"
                                        [(ngModel)]="student.cid" placeholder="CID" pInputText /> 
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Mobile</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable"
                                        [(ngModel)]="student.mobileNo" placeholder="Mobile" pInputText /> 
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Batch No</div>
                                <div class="col-8">
                                    <p-inputNumber [useGrouping]="false" style="width: 100% !important;"  inputId="batchNo" [disabled]="!isEditable" [(ngModel)]="student.batchNo" placeholder="Batch No">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        
                   </div>
                </div>
                <!-- Right -->
                <div class="col-12 md:col-6 lg:col-5">
                    <div class="grid align-items-center">
    
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Status</div>
                                <div class="col-8">
                                    <p-dropdown [disabled]="!isEditable" [style]="{'width': '95%'} " [options]="availableStatus" id="martialStatus" required="true"
                                    [(ngModel)]="student.status" placeholder="Select Martial Status"></p-dropdown> 
                                </div>
                            </div>
                        </div>

                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Martial Status</div>
                                <div class="col-8">
                                    <p-dropdown [disabled]="!isEditable" [style]="{'width': '95%'} " [options]="availableMartialStatus" id="martialStatus" required="true"
                                    [(ngModel)]="student.maritalStatus" placeholder="Select Martial Status"></p-dropdown> 
                                </div>
                            </div>
                        </div>

                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Blood Group</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable"
                                        [(ngModel)]="student.bloodGroup" placeholder="Blood Group" pInputText /> 
                                </div>
                            </div>
                        </div>

                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">DId</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable"
                                        [(ngModel)]="student.did" placeholder="DID" pInputText /> 
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Email</div>
                                <div class="col-8">
                                    <input type="text" [disabled]="!isEditable"
                                        [(ngModel)]="student.email" placeholder="Email" pInputText /> 
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8">
                            <div class="grid align-items-center">
                                <div class="col-4 fw-500">Training Year</div>
                                <div class="col-8">
                                        <p-inputNumber [useGrouping]="false" style="width: 100% !important;"  inputId="trainingYear" [disabled]="!isEditable" [(ngModel)]="student.trainingYear" placeholder="Training Year">
                                        </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  md:col-10 lg:col-8" style="color: #fff;">.</div>
                    </div>

                </div>
            </div>
        </p-card>
    </div>

    <!-- Course Information -->
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12 pb-0">
                    <h3>Course Information</h3>
                </div>
                <div class="col-12 md:col-10 lg:col-8 ">
                    <p-table #dt rowHover="true" styleClass="p-datatable-striped" [value]="courseList"
                        [scrollable]="true" scrollHeight="400px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Course Status
                                </th>
                                <th>
                                    Course ID
                                </th>
                                <th>
                                    Sector
                                </th>
                                <th>
                                    Course Level
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    StartDate
                                </th>
                                <th>
                                    EndDate
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                            let-columns="columns">
                            <tr #row [pSelectableRow]="rowData" id="{{ rowData.Id }}">

                                <td>
                                    {{ rowData.status }}
                                </td>
                                <td class="text-left">
                                    {{ rowData.id }}
                                </td>
                                <td class="text-left">
                                    {{ rowData.sector }}
                                </td>
                                <td class="text-left">
                                    {{ rowData.courseLevel }}
                                </td>
                                <td class="text-left">
                                    {{ rowData.duration }}
                                </td>
                                <td class="text-left">
                                    {{ rowData.startDate }}
                                </td>
                                <td class="text-left">
                                    {{ rowData.endDate }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="11">No records found</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>