<div class="p-card" style="margin-top: 30px;">
    <div class="grid col-12 justify-content-center">
        <input class="margin-right-15" type="text" id="name" required="true" pInputText placeholder="Student ID" style="width:10%"/>
        <input class="margin-right-15" type="text" id="name" required="true" pInputText placeholder="Course ID" style="width:10%"/>
        <button pButton type="button" label="Search" (click)="editStudent()"
            style="background-color:#3047c4;color:white"></button>
    </div>
    <div class="p-col-12 " style="width: 100%; overflow-y: hidden;margin-top: 20px;">
        <p-table #dt rowHover="true" [value]="students" [paginator]="true" [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalStudents" [lazy]="true" [lazyLoadOnInit]="false"
            (onLazyLoad)="lazyLoadEvent($event)" [responsive]="true" id="myTable"> 
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width: 80px" />
                    <!-- No -->
                    <col style="width: 100px" />
                    <!-- StudentID -->
                    <col style="width: 125px" />
                    <!-- StudentName-->
                    <col style="width: 100px" />
                    <!-- Cid -->
                    <col style="width: 100px" />
                    <!-- Did -->
                    <col style="width: 100px" />
                    <!-- Email -->
                    <col style="width: 100px" />
                    <!-- DateOfBirth -->
                    <col style="width: 100px" />
                    <!-- Phone num -->
                    <col style="width: 100px" />
                    <!-- Gender -->
                    <col style="width: 100px" />
                    <!-- Blood Type -->
                    <col style="width: 150px" />
                    <!-- Action -->
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center" pSortableColumn="name">
                        No
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="name">
                        Student ID
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="name">
                        Student Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="cid">
                        CID
                        <p-sortIcon field="cid"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="did">
                        DID
                        <p-sortIcon field="did"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="email">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="dateOfBith">
                        Date of Birth
                        <p-sortIcon field="dateOfBith"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="mobileNo">
                        Phone Num
                        <p-sortIcon field="mobileNo"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="gender">
                        Gender
                        <p-sortIcon field="gender"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="gender">
                        BloodType
                        <p-sortIcon field="gender"></p-sortIcon>
                    </th>
                    <th class="text-center">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                let-columns="columns">
                <tr #row [pSelectableRow]="rowData" id="{{ rowData.Id }}">

                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        {{ rowData.name }}
                    </td>
                    <td>
                        {{ rowData.cid }}
                    </td>
                    <td>
                        {{ rowData.did }}
                    </td>
                    <td>
                        {{ rowData.email }}
                    </td>
                    <td>
                        {{ rowData.dateOfBith }}
                    </td>
                    <td>
                        {{ rowData.mobileNo }}
                    </td>
                    <td>
                        {{ rowData.gender }}
                    </td>
                    <td>

                    </td>
                    <td>
                        <div class="text-right">
                            <button pButton type="button" label="View" (click)="viewStudent()"
                                style="background-color:#3047c4;color:white;margin-right:10px"></button>
                            <button pButton type="button" label="Edit" (click)="editStudent()"
                                style="background-color:#3047c4;color:white"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="11">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>