.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
.margin-right-15{
    margin-right: 15px;
}

th {
    background-color:#3047c4 !important;
    color:white !important;
  }



