<div class="grid p-card" style="margin-top: 30px;">
    <div class="col-12" style="padding-top: 10px; text-align: center;">
        <input class="margin-right-15" type="text" id="name" [(ngModel)] = "selectedStudentID" (onClick) ="search()" pInputText placeholder="Student ID" style="width:10%"/>
        <input class="margin-right-15" type="text" id="name" [(ngModel)] = "selectedCourseID" (onClick) ="search()" pInputText placeholder="Course ID" style="width:10%"/>
        <button pButton  type="button" label="Search" (click)="search()"  style="margin-right: 10px;"></button>
        <button style="margin-right: 10px;" pButton pRipple  type="button"  style="margin-right: 10px;" label="Show All" (click)="showAll()" ></button>

        <button pButton  type="button" class="p-button-success" label="Export" (click)="export()" ></button>

    </div>
    <div *ngIf="searchInfo =='student'" class="col-12" style="margin-top: 5px;">
        <p-table  #dt rowHover="true" styleClass="p-datatable-striped"  [value]="students" [paginator]="true" [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalStudents" [lazy]="true" [lazyLoadOnInit]="false"
            (onLazyLoad)="lazyLoadEvent($event)"  [(selection)]="selectedStudent" scrollable="true" scrollHeight="600px" 
            [loading] = "tableLoading"> 
      
            <ng-template pTemplate="header">
                <tr >
    
                    <th class="text-left" pSortableColumn="id">
                        Student ID
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="name">
                        Student Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="text-left"  pSortableColumn="cid">
                        CID
                        <p-sortIcon field="cid"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="did">
                        DID
                        <p-sortIcon field="did"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="email">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="dateOfBirth">
                        Date of Birth
                        <p-sortIcon field="dateOfBirth"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="mobileNo">
                        Phone Num
                        <p-sortIcon field="mobileNo"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="gender">
                        Gender
                        <p-sortIcon field="gender"></p-sortIcon>
                    </th>
                    <th class="text-left" pSortableColumn="bloodGroup">
                        Blood Type
                        <p-sortIcon field="bloodGroup"></p-sortIcon>
                    </th>
                    <th class="text-left">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                let-columns="columns">
                <tr #row [pSelectableRow]="rowData" id="{{ rowData.Id }}">
                    <td>
                        {{rowData.id}}
                    </td>
                    <td class="text-left">
                        {{ rowData.name }}
                    </td>
                    <td class="text-left">
                        {{ rowData.cid }}
                    </td>
                    <td class="text-left"> 
                        {{ rowData.did }}
                    </td>
                    <td class="text-left">
                        {{ rowData.email }}
                    </td>
                    <td class="text-left">
                        {{rowData.dateOfBirth || "" | date: "dd/MM/yyyy"}}
                    </td>
                    <td class="text-left">
                        {{ rowData.mobileNo }}
                    </td>
                    <td class="text-left">
                        {{ rowData.gender }}
                    </td>
                    <td class="text-left">
                        {{rowData.bloodGroup}}
                    </td>
                    <td class="text-left">
                       
                            <button style="margin-right: 10px;" pButton class="p-button-sm" type="button" label="View" (click)="viewStudent(rowData.id)"></button>
                            <span *ngIf="isEditable">
                                <button pButton class="p-button-sm" type="button" label="Edit" (click)="editStudent(rowData.id)"></button>
                            </span>      
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="11">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

   
</div>



