<div class="grid justify-content-center" style="margin-top: 30px;">
    <div class="col-6 text-right" *ngIf="isShowAll">
            <input  type="text" id="name" [(ngModel)] = "searchKeyWord" (onClick) ="search()" pInputText placeholder="Search with id or name" style="width: 30%; margin-right: 10px;"/>
            <button pButton  type="button" label="Search" (click)="search()" ></button>
    </div>
    <div class="col-6 text-right" *ngIf="isShowAll">
        <button style="margin-right: 10px;" pButton pRipple  type="button" label="Show All" (click)="showAll()" ></button>
        <span *ngIf="isEditable">
            <button style="margin-right: 10px;" pButton pRipple  [disabled]="!isEditable"   type="button" label="Create Trainer" (click)="create()" class="p-button-success"></button>
        </span>
        <button *ngIf="trainerList.length > 0" pButton  type="button" class="p-button-success" label="Export" (click)="export()" ></button>  
    </div>
    <div class="col-12">
        <p-table  #dt rowHover="true" [value]="trainerList" [paginator]="true" [rows]="50"
        [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalRecord" [lazy]="true" [lazyLoadOnInit]="false"
        (onLazyLoad)="lazyLoadEvent($event)"  scrollable="true" scrollHeight="600px" 
        [loading] = "tableLoading"> 
        <ng-template pTemplate="header">
            <tr >
                <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="trainerId">
                    Trainer ID
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="trainerName">
                    Trainer Name
                    <p-sortIcon field="trainerName"></p-sortIcon>
                </th>
                <th style="max-width: 150px;" class="justify-content-start"  pSortableColumn="gender">
                    Gender
                    <p-sortIcon field="gender"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-start"  pSortableColumn="nationality">
                    Country
                    <p-sortIcon field="nationality"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="joinDate">
                    Date of Joining
                    <p-sortIcon field="joinDate"></p-sortIcon>
                </th>

                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="designation">
                   Designation
                    <p-sortIcon field="designation"></p-sortIcon>
                </th>
                <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="department">
                    Department
                     <p-sortIcon field="department"></p-sortIcon>
                 </th>
                
                 <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="branch">
                    Branch/ Area of Expertise
                     <p-sortIcon field="branch"></p-sortIcon>
                 </th>
                 <th style="min-width: 50px;" class="justify-content-start" pSortableColumn="dspCenter">
                    DSP Centre
                     <p-sortIcon field="dspCenter"></p-sortIcon>
                 </th>

                <th style="min-width: 50px;" class="justify-content-center">
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
            let-columns="columns">
            <tr #row [pSelectableRow]="rowData" id="{{ rowData.trainerId }}">
                <td style="max-width: 150px;">
                    {{rowData.trainerId}}
                </td>
                <td style="min-width: 50px;" class="justify-content-start" >
                    {{ rowData.trainerName }}
                </td>
                <td style="max-width: 150px;" class="justify-content-start" >
                    {{ rowData.gender }}
                </td>
                <td style="min-width: 50px;" class="justify-content-start" [pTooltip]="rowData.dspCenter"> 
                    {{ rowData.nationality }}
                </td>
                <td style="min-width: 50px;" class="justify-content-start">
                    {{ rowData.joinDate}}
                </td>
                <td style="min-width: 50px;" class="justify-content-start" [pTooltip]="rowData.designation"> 
                    {{ rowData.designation }}
                </td>
                <td style="min-width: 50px;" class="justify-content-start" [pTooltip]="rowData.department"> 
                    {{ rowData.department }}
                </td>
                <td style="min-width: 50px;" class="justify-content-start" [pTooltip]="rowData.branch"> 
                    {{ rowData.branch }}
                </td>
                <td style="min-width: 50px;" class="justify-content-start" [pTooltip]="rowData.dspCenter"> 
                    {{ rowData.dspCenter }}
                </td>
                <td style="min-width: 50px;" class="justify-content-center">
                    <a style="margin-right: 10px;"  pTooltip="Edit">
                        <i class="pi pi-pencil pr-15" (click) = "edit(rowData.id)"></i>
                    </a>
                    <a *ngIf="isEditable" style="color: red;" pTooltip="Delete">
                        <i class="pi pi-trash" (click)="delete(rowData)"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>

                <td [attr.colspan]="10">No records found</td>
            </tr>
        </ng-template>


        </p-table>
    </div>
</div>