<div class="grid col-12" style="margin:auto">
    <div class="grid col-12">
        <div class="col-3" style="font-size: 18px;"><strong>Course Detail</strong></div>
        <div class="grid col-9 justify-content-end">
            <button pButton class="p-button-sm margin-top-9" type="button" label="Edit Course" (click)="editCourse()"
                style="background-color:#3047c4;color:white"></button>
        </div>
    </div>

    <div class="grid col-12" style="align-items: left;">
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Course ID</strong></div>
            <div class="col-8"> <input type="text" placeholder="Course ID" pInputText /></div>
        </div>
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Course Name</strong></div>
            <div class="col-8"> <input type="text" placeholder="Course Name" pInputText /></div>
        </div>
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Sector</strong></div>
            <div class="col-8"> <input type="text" placeholder="Sector" pInputText /></div>
        </div>
    </div>

    <div class="grid col-12" style="align-items: left;">
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Course Level</strong></div>
            <div class="col-8"> <input type="text" placeholder="Course Level" pInputText /></div>
        </div>
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Duration</strong></div>
            <div class="col-8"> <input type="text" placeholder="Duration" pInputText /></div>
        </div>
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Number of Applicants</strong></div>
            <div class="col-8"> <input type="text" placeholder="Applicants" pInputText /></div>
        </div>
    </div>

    <div class="grid col-12" style="align-items: left;">
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Trainer ID</strong></div>
            <div class="col-8"> <input type="text" placeholder="Trainer ID" pInputText /></div>
        </div>
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Trainer Name</strong></div>
            <div class="col-8"> <input type="text" placeholder="Trainer Name" pInputText /></div>
        </div>
        <div class="grid col-4">
            <div class="col-4 mt-2"><strong>Trainer Nationality</strong></div>
            <div class="col-8"> <input type="text" placeholder="Nationality" pInputText /></div>
        </div>
    </div>
    <div class="col-12" style="width: 100%; margin-top: 5px;">
        <p-table #dt rowHover="true" styleClass="p-datatable-striped" [value]="students" [paginator]="true" [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalStudents" [(selection)]="selectedStudent"
            [responsive]="true">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width: 80px" />
                    <!-- No -->
                    <col style="width: 100px" />
                    <!-- StudentID -->
                    <col style="width: 125px" />
                    <!-- StudentName-->
                    <col style="width: 100px" />
                    <!-- Cid -->
                    <col style="width: 100px" />
                    <!-- Did -->
                    <col style="width: 100px" />
                    <!-- Email -->
                    <col style="width: 100px" />
                    <!-- DateOfBirth -->
                    <col style="width: 100px" />
                    <!-- Phone num -->
                    <col style="width: 100px" />
                    <!-- Gender -->
                    <col style="width: 100px" />
                    <!-- Blood Type -->
                    <col style="width: 150px" />
                    <!-- Action -->
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-left">
                        No
                    </th>
                    <th class="text-left">
                        Student ID
                    </th>
                    <th class="text-left">
                        Student Name
                    </th>
                    <th class="text-left">
                        CID
                    </th>
                    <th class="text-left">
                        DID
                    </th>
                    <th class="text-left">
                        Email
                    </th>
                    <th class="text-left">
                        Date of Birth
                    </th>
                    <th class="text-left">
                        Phone Num
                    </th>
                    <th class="text-left">
                        Gender
                    </th>
                    <th class="text-left">
                        Blood Type
                    </th>
                    <th class="text-left">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                let-columns="columns">
                <tr #row [pSelectableRow]="rowData" id="{{ rowData.Id }}">

                    <td>
                        {{ rowIndex+1 }}
                    </td>
                    <td>

                    </td>
                    <td class="text-left">
                        {{ rowData.name }}
                    </td>
                    <td class="text-left">
                        {{ rowData.cid }}
                    </td>
                    <td class="text-left">
                        {{ rowData.did }}
                    </td>
                    <td class="text-left">
                        {{ rowData.email }}
                    </td>
                    <td class="text-left">
                        {{ rowData.dateOfBirth }}
                    </td>
                    <td class="text-left">
                        {{ rowData.mobileNo }}
                    </td>
                    <td class="text-left">
                        {{ rowData.gender }}
                    </td>
                    <td class="text-left">

                    </td>
                    <td class="text-left">
                        <div>
                            <button pButton class="p-button-sm" type="button" label="View" (click)="viewStudent()"
                                style="background-color:#3047c4;color:white;margin-right:10px"></button>
                            <button pButton class="p-button-sm" type="button" label="Edit" (click)="editStudent()"
                                style="background-color:#3047c4;color:white"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="11">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>