<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="grid col-12" style="margin:auto">
                <div class="grid col-12">
                    <div class="col-3" style="font-size: 18px;"><strong>Course Detail</strong></div>
                    <div class="grid col-9 justify-content-end">
                        <button *ngIf="isEditable" style="margin-right: 10px;" pButton pRipple type="button" label="Save" (click)="save()" class="p-button-success"></button>
                        <button pButton style="margin-right: 10px;"  type="button" class="p-button-success" label="Export Course Detail" (click)="export()" ></button>  
                        <p-button label="Back" (click)="back()" styleClass="p-button-secondary"></p-button>
            
                    </div>
                </div>
            
                <div class="grid col-12" style="align-items: left;">
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Course ID</strong></div>
                        <div class="col-8"> <input [disabled]="!isEditable" [(ngModel)]="course.id" type="text" placeholder="Course ID" pInputText /></div>
                    </div>
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Course Status</strong></div>
                        <div class="col-8"> <input [disabled]="!isEditable" [(ngModel)]="course.status" type="text" placeholder="Course Name" pInputText /></div>
                    </div>
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Sector</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable" [(ngModel)]="course.sector" placeholder="Sector" pInputText /></div>
                    </div>
                </div>
            
                <div class="grid col-12" style="align-items: left;">
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Course Level</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable" [(ngModel)]="course.courseLevel" placeholder="Course Level" pInputText /></div>
                    </div>
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Duration</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable" [(ngModel)]="course.duration" placeholder="Duration" pInputText /></div>
                    </div>
                    <!-- <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Number of Applicants</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable" [(ngModel)]="course.numberOfApplicants" placeholder="Applicants" pInputText /></div>
                    </div> -->
                </div>
            
                <div class="grid col-12" style="align-items: left;">
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Trainer ID</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable" [(ngModel)]="course.trainerId" placeholder="Trainer ID" pInputText /></div>
                    </div>
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Trainer Name</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable"  placeholder="Trainer Name" pInputText /></div>
                    </div>
                    <div class="grid col-4">
                        <div class="col-4 mt-2"><strong>Trainer Nationality</strong></div>
                        <div class="col-8"> <input type="text" [disabled]="!isEditable" placeholder="Nationality" pInputText /></div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>

    <!-- Student that attended to course -->
    <div class="col-12">
        <p-card style="margin-top: 20px;">
            <div class="grid">
                <div class="col-12" style="width: 100%; margin-top: 5px;">
                    <p-table  #dt rowHover="true" styleClass="p-datatable-striped"  [value]="studentList" [paginator]="true" [rows]="50"
                    [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalStudents" scrollable="true" 
                    scrollHeight="400px"  [loading] = "tableLoading"> 
              
                    <ng-template pTemplate="header">
                        <tr >
                            <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="id">
                                Student ID
                                <p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th  style="min-width: 200px;" class="justify-content-start" pSortableColumn="name">
                                Student Name
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start"  pSortableColumn="cid">
                                CID
                                <p-sortIcon field="cid"></p-sortIcon>
                            </th>
                            <th  style="max-width: 150px;" class="justify-content-start" pSortableColumn="did">
                                DID
                                <p-sortIcon field="did"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="email">
                                Email
                                <p-sortIcon field="email"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="dateOfBirth">
                                Date of Birth
                                <p-sortIcon field="dateOfBirth"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="mobileNo">
                                Phone 
                                <p-sortIcon field="mobileNo"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="gender">
                                Gender
                                <p-sortIcon field="gender"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="bloodGroup">
                               Batch No
                                <p-sortIcon field="bloodGroup"></p-sortIcon>
                            </th>
                            <th style="max-width: 150px;" class="justify-content-start">
                                Action
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                        let-columns="columns">
                        <tr #row [pSelectableRow]="rowData" id="{{ rowData.Id }}">
                            <td style="max-width: 150px;">
                                {{rowData.id}}
                            </td>
                            <td style="min-width: 200px;" class="justify-content-start">
                                {{ rowData.name }}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start">
                                {{ rowData.cid }}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start"> 
                                {{ rowData.did }}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start">
                                {{ rowData.email }}
                            </td>
                            <td style="max-width: 150px;"  class="justify-content-start">
                                {{rowData.dateOfBirth || "" | date: "dd/MM/yyyy"}}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start">
                                {{ rowData.mobileNo }}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start">
                                {{ rowData.gender }}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start">
                                {{rowData.batchNo}}
                            </td>
                            <td style="max-width: 150px;" class="justify-content-start">
                               
                                    <button style="margin-right: 10px;" pButton class="p-button-sm" type="button" label="View" (click)="viewStudent(rowData.id)"></button>
                                    <span *ngIf="isEditable">
                                        <button pButton class="p-button-sm" type="button" label="Edit" (click)="editStudent(rowData.id)"></button>
                                    </span>      
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="11">No records found</td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>