
    <div class="grid col-12 p-card" style="padding:0;margin-top:5px" >
        <div class="col-12" style="background-color: blue;height: 50px;margin-bottom: 20px;">
            Add New Student
        </div>
        <div class="grid col-12" style="justify-content: center; ">
            <div class="col-1"><label for="name">Name</label> </div>
            <div class="col-7"><input type="text" id="name" pInputText style="width:100%" /></div>
        </div>
        <div class="grid col-12" style="justify-content: center;">
            <div class="col-1"><label for="email">Email</label> </div>
            <div class="col-7"><input type="email" id="email" pInputText style="width:100%" /></div>
        </div>
        <div class="grid col-12" style="justify-content: center;">
            <div class="col-1"><label for="mobileno">Mobile No</label> </div>
            <div class="col-7"><input type="number" id="mobileno" pInputText style="width:100%" /></div>
        </div>
        <div class="grid col-12" style="justify-content: center;">
            <div class="col-1"><label for="gender">Gender</label> </div>
            <div class="col-2">
                <div>
                    <p-radioButton name="groupname" value="Male" [(ngModel)]="selectedGender" inputId="gender1">
                    </p-radioButton>
                    <label for="gender1" style="padding-left: 5px;">Male</label>
                </div>
                <div style="padding-top:5px;">
                    <p-radioButton name="groupname" value="Female" [(ngModel)]="selectedGender" inputId="gender2">
                    </p-radioButton>
                    <label for="gender2" style="padding-left: 5px;">Female</label>
                </div>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="grid col-12" style="justify-content: center;">
            <div class="col-1"> </div>
            <div class="col-3">
                <button pButton type="button" label="Submit" class="p-button-info"></button>
                <button pButton type="button" label="Cancel" class="p-button-info" style="margin-left: 5px;"></button>
            </div>
            <div class="col-4"></div>
        </div>

    </div>
