<div class="grid justify-content-center pt-30">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <h3 style="margin-left: 10px;">Trainer</h3>
            </ng-template>
            <div class="grid">
                <div class="col-6">
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Trainer Id <span style="color: red;">*</span>
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.trainerId" placeholder="Require" pInputText />
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Trainer Name <span style="color: red;">*</span>
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.trainerName" placeholder="Require"  pInputText />
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Nationality
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.nationality" pInputText />
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Affiliation
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.affiliation" pInputText />
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Designation
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.designation" pInputText />
                        </div>
                    </div>
        
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Department
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.department" pInputText />
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Gender
                        </div>
                        <div class="col-6">
                            <p-dropdown [disabled]="!isEditable" [style]="{'width': '95%'} "
                            [options]="availableGender" id="trainingYear" required="true"
                            [(ngModel)]="trainer.gender" placeholder="Select gender "></p-dropdown>

                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Join Date
                        </div>
                        <div class="col-6">
                            <p-calendar [(ngModel)]="selectedJoinDate" placeholder="dd/MM/yy"
                                            dateFormat="dd/mm/yy" 
                                            inputId="dob" [showButtonBar]="true"
                                            [readonlyInput]="true" [showIcon]="true" inputId="icon"></p-calendar>
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            DSP Center
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.dspCenter" pInputText />
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Training Programming
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.trainingProgramme" pInputText />
                        </div>
                    </div>
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Qualification
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.qualification"  pInputText />
                        </div>
                    </div>
        
                    <div class="grid col-12 justify-content-start align-items-center">
                        <div class="col-4">
                            Branch/ Area of Expertise
                        </div>
                        <div class="col-6">
                            <input type="text" [disabled]="!isEditable" [(ngModel)]="trainer.branch"
                                pInputText />
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid col-12 justify-content-end align-items-center">
                <div class="col-4 text-right">
                    <span *ngIf="isEditable">
                        <p-button label="Save" [disabled]="!isEditable" icon="pi pi-check" (click)="saveTrainer()" styleClass="p-button-success"></p-button>
                    </span>
                    <p-button label="Cancel" (click)="cancel()" icon="pi pi-times" styleClass="p-button-secondary"
                        [style]="{'margin-left': '.5em'}"></p-button>
                </div>
            </div>

        </p-card>
    </div>
</div>