<div class="grid justify-content-center align-items-center" style="height: 70vh;">
    <div class="col-5">
        <p-card>
            <div class="grid justify-content-center" >
                <div class="col-8 header-label">
                    Change Password
                </div>
                <div class="col-8" style="padding-top: 20px;">
                    <input  [type]="inputType1" style="width: 80%;" placeholder="Enter Password" pInputText [(ngModel)]="password"/>
                   <span class="showIcon">
                        <i (click)="showPassword('p1')" [class]="inputIcon1" ></i>
                   </span>
                </div>
                <div class="col-8 pt-10">
                    <input  [type]="inputType2" style="width: 80%;" placeholder="Re-Enter Password" pInputText [(ngModel)]="passwordRe"/>
                    <span class="showIcon">
                        <i (click)="showPassword('p2')" [class]="inputIcon2" ></i>
                    </span>
                </div>
                <div class="col-8 pt-10" style="text-align: center;">
                    <button pButton pRipple type="button" label="Change" (click)="save()" class="p-button-success"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>