<div class="grid p-card" style="margin-top: 15px">
    <div class="col-6 text-right" *ngIf="isShowAll">
            <input  type="text" id="name" [(ngModel)] = "searchKeyWord" (onClick) ="search()" pInputText placeholder="Search with id or name" style="width: 30%; margin-right: 10px;"/>
            <button pButton  type="button" label="Search" (click)="search()" ></button>
    </div>
    <div class="col-6 text-right" *ngIf="isShowAll">
        <button style="margin-right: 10px;" pButton pRipple  type="button" label="Show All" (click)="showAll()" ></button>
        <span *ngIf="isEditable">
            <button style="margin-right: 10px;" pButton pRipple  [disabled]="!isEditable"   type="button" label="Create Course" (click)="create()" class="p-button-success"></button>
        </span>
        <button *ngIf="courseList.length > 0" pButton  type="button" class="p-button-success" label="Export" (click)="export()" ></button>  
    </div>
    <div class="col-6" ><strong *ngIf="!isShowAll" style="font-size: 1rem;">Course List</strong></div>
    <div class="col-6" style="text-align: right;" *ngIf="selectedCourseList.length > 0 && isEditable">
        <p-button label="Delete" (click)="deleteCourses()" icon="pi pi-users" styleClass="p-button-danger" [badge]="selectedCourseList.length" badgeClass="p-badge-danger"></p-button>
    </div>
    <div class="col-12">
        <p-table  #dt rowHover="true" styleClass="p-datatable-striped" [value]="courseList" [paginator]="true" [rows]="50"
        [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalRecord" [lazy]="true" [lazyLoadOnInit]="false"
        (onLazyLoad)="lazyLoadEvent($event)"  scrollable="true" scrollHeight="600px" 
        [loading] = "tableLoading" [(selection)]="selectedCourseList">  
        <ng-template pTemplate="header">
            <tr >
                <th style="max-width: 50px;">
                    <p-checkbox [(ngModel)]="deleteAll" (click)="checkAll()" binary="true" inputId="binary"></p-checkbox>
                </th>
                <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="courseId">
                    Course ID
                    <p-sortIcon field="courseId"></p-sortIcon>
                </th>
                <th style="min-width: 200px;" class="justify-content-start" pSortableColumn="courseName">
                    Course Name
                    <p-sortIcon field="courseName"></p-sortIcon>
                </th>
                <th style="max-width: 150px;" class="justify-content-start"  pSortableColumn="status">
                  
                    <span pTooltip='Course Status'> Status</span>
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th style="max-width: 130px;" class="justify-content-start" pSortableColumn="courseLevel">
                     <span pTooltip='Course Level'>Level</span>
                    <p-sortIcon field="courseLevel"></p-sortIcon>
                </th>
                <th style="max-width: 120px;" class="justify-content-start" pSortableColumn="startDate">
                    Start Date
                    <p-sortIcon field="startDate"></p-sortIcon>
                </th>
                <th style="max-width: 120px;" class="justify-content-start" pSortableColumn="endDate">
                    End Date
                    <p-sortIcon field="endDate"></p-sortIcon>
                </th>
                <th style="max-width: 100px;" class="justify-content-center" pSortableColumn="cohortSizeMale">
                    <span pTooltip='Cohort Size Male'>Male</span>
                    <p-sortIcon field="cohortSizeMale"></p-sortIcon>
                </th>
                <th style="max-width: 100px;" class="justify-content-center" pSortableColumn="cohortSizeFemale">
                    <span pTooltip='Cohort Size Female'>Female</span>
                    <p-sortIcon field="cohortSizeFemale"></p-sortIcon>
                </th>
                <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="batchNo">
                    <span pTooltip='Batch Number'> Batch No.</span>
                    <p-sortIcon field="batchNo"></p-sortIcon>
                </th>
                <th style="min-width: 150px;" class="justify-content-start" pSortableColumn="trainingLoaction">   
                    <span pTooltip='Training Location'>Location</span>
                    <p-sortIcon field="trainingLoaction"></p-sortIcon>
                </th>
                <th  style="min-width: 230px !important;" class="justify-content-center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
            let-columns="columns">
            <tr #row [pSelectableRow]="rowData" class="p-selectable-row" id="{{ rowData.courseId }}">
                <td style="max-width: 50px;">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td style="max-width: 150px;">
                    {{rowData.courseId}}
                </td>
                <td style="min-width: 200px;" class="justify-content-start" >
                   <span pTooltip="Course Name"> {{ rowData.courseName }}  </span>
                </td>
                <td style="max-width: 150px;" class="justify-content-start"  >
                   <span pTooltip="Course Status"> {{ rowData.status }}</span>
                </td>
                <td style="max-width: 130px;" class="justify-content-start" > 
                    <span pTooltip="Course Level">{{ rowData.courseLevel }}</span>
                </td>
                <td style="max-width: 120px;" class="justify-content-start">
                   {{rowData.startDate || "" | date: "dd/MM/yy" }}
                </td>
                <td style="max-width: 120px;" class="justify-content-start">
                    {{ rowData.endDate || "" | date: "dd/MM/yy" }}
                 </td>
                 <td style="max-width: 100px;" class="justify-content-end">
                   <span pTooltip="Cohort Size Male"> {{ rowData.cohortSizeMale}}</span>
                 </td>
                 <td style="max-width: 100px;" class="justify-content-end">
                    <span  pTooltip="Cohort Size Female">{{ rowData.cohortSizeFemale}}</span>
                 </td>
                 <td style="max-width: 150px;" class="justify-content-start">
                    {{ rowData.batchNo}}
                 </td>
                 <td style="min-width: 150px;" class="justify-content-start" >
                    <span pTooltip='Training Location'> {{ rowData.trainingLoaction}}</span>
                 </td>

                <td style="min-width: 230px;" class="justify-content-center">
         
                    <button (click)="view(rowData.id)" pButton pRipple type="button"  label="View" class="p-button-info"></button>
                    <button *ngIf="isEditable" (click)="edit(rowData.id)" style="margin-left: 10px;" pButton pRipple type="button"  label="Edit" class="p-button-success"></button>
                    <button *ngIf="isEditable" (click)="delete(rowData.id)" style="margin-left: 10px;" pButton pRipple type="button" label="Delete" class="p-button-danger"></button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="12">No records found</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>