.margin-top-30{
    margin-top: 30px !important;
}
.margin-top-15{
    margin-top: 15px !important;
}
.margin-top-9{
    margin-top: 9px !important;
}
.form-control:focus {
    box-shadow: none;
}
    
input {
    width: 90%;
    position: relative;
    border-bottom: 1px solid #a39e9e;
    padding: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    height: 30px;
    border-radius: 0px;
}


.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: #a39e9e;
}
   
   
    
    
   
    