
/* You can add global styles to this file, and also import other style files */
/* #region Custom Page Loading */


body{
  font-family: Roboto,Helvetica Neue,sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
  min-height: 100%;
}

.loader-screen {
  width: 100%;
  min-height: 100%;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
}
.loader-screen .loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 500;
}

.layout-content {
    margin-top: 0 !important;
    padding: 0 20px;
  }

  .width-auto {
    width: auto !important;
  }

  .pt-10{
    padding-top: 10px;
  }

  .pt-20{
    padding-top: 20px;
  }

  .pt-30{
    padding-top: 30px;
  }

  .pl-10{
    padding-left: 10px;
  }

  .pr-10{
    padding-right: 10px;
  }

  .full-width {
    width: 100%;
  }



  
  /// primeng overwride
  .p-component, body, body .p-button, body .p-datatable .ui-table-scrollable-wrapper thead tr th, body .p-inputtext, body .ui-table thead tr th {
    font-size: 13px;
  }

  .p-menubar .p-menuitem-link .p-menuitem-text {
    font-size: 15px;
    font-weight: 500;
  }

  body .p-datatable .p-datatable-tbody>tr:nth-child(2n) {
    background-color: #f4f4f4;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #ffffff;
    font-size: 13px;
  }

  .p-datatable .p-sortable-column.p-highlight {
    background: #fff !important;
    color: #000001 !important;
  }

  .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem !important;
    height: 2rem !important;
  }

  .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last  {
    min-width: 2rem !important;
    height: 2rem !important;
  }
  .p-paginator .p-dropdown {
    height: auto !important;
  }

  .p-menubar {
    background-color: #3f51b5de;
  }

  .p-menubar-root-list > li > a > .p-menuitem-icon {
    color: #ffffff !important;
  }

  .p-menubar-root-list > li > a > .p-menuitem-text {
    color: #ffffff !important;
  }

  .p-menubar-root-list > li > a > .p-submenu-icon {
    color: #ffffff !important;
  }

  .p-datatable .p-datatable-thead > tr > th{
    background-color: #3f51b5de !important;
    color: #ffffff !important;
  }