
/* You can add global styles to this file, and also import other style files */
/* #region Custom Page Loading */


body{
  font-family: Roboto,Helvetica Neue,sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
  min-height: 100%;
}

.loader-screen {
  width: 100%;
  min-height: 100%;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
}
.loader-screen .loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 500;
}

.layout-content {
    margin-top: 0 !important;
    padding: 0 20px;
  }

  .width-auto {
    width: auto !important;
  }

  .padding-0 {
    padding: 0 !important;
  }

  .pt-10{
    padding-top: 10px;
  }

  .pt-20{
    padding-top: 20px;
  }

  .pt-30{
    padding-top: 30px;
  }

  .pl-10{
    padding-left: 10px;
  }

  .pr-10{
    padding-right: 10px;
  }
  .margin-left-10 {
    margin-left: 10px;
  }

  .full-width {
    width: 100% !important;
  }

  .margin-top-30 {
    margin-top: 30px !important;
  }

  .margin-top-20 {
    margin-top: 20px !important;
  }



  
  /// primeng overwride
  .p-component, body, body .p-button, body .p-datatable .ui-table-scrollable-wrapper thead tr th, body .p-inputtext, body .ui-table thead tr th {
    font-size: 13px;
  }

  .p-menubar .p-menuitem-link .p-menuitem-text {
    font-size: 15px;
    font-weight: 500;
  }

  body .p-datatable .p-datatable-tbody>tr:nth-child(2n) {
    background-color: #f4f4f4;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #ffffff;
    font-size: 13px;
  }

  .p-datatable .p-sortable-column.p-highlight {
    background: #fff !important;
    color: #000001 !important;
  }

  .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem !important;
    height: 2rem !important;
  }

  .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last  {
    min-width: 2rem !important;
    height: 2rem !important;
  }
  .p-paginator .p-dropdown {
    height: auto !important;
  }

  .p-menubar {
    background-color: #3f51b5de;
  }

  .p-menubar-root-list > li > a > .p-menuitem-icon {
    color: #ffffff !important;
  }

  .p-menubar-root-list > li > a > .p-menuitem-text {
    color: #ffffff !important;
  }

  .p-menubar-root-list > li > a > .p-submenu-icon {
    color: #ffffff !important;
  }
  .p-datatable .p-sortable-column .p-sortable-column-icon {
    margin-left: 0 !important;
  }
  .p-datatable .p-datatable-thead > tr > th{
    z-index: 1000 !important;
    background-color: #3f51b5 !important;
    color: #ffffff !important;
  }

  body .p-datatable .p-datatable-thead > tr.white-background > th {
    background-color: #ffffff !important;
    color: #212121 !important;
   // padding: 0.314em 0.857em !important;
  }

//   .input-filled .p-inputtext {
//     border-bottom-left-radius: 0;
//     border-bottom-right-radius: 0;
//     border: 1px solid transparent;
//     background: transparent no-repeat;
//     background-image: linear-gradient(
// 180deg,#1e88e5,#1e88e5),linear-gradient(
// 180deg,rgba(0,0,0,.38),rgba(0,0,0,.38));
//     background-size: 0 2px,100% 1px;
//     background-position: 50% 100%,50% 100%;
//     background-origin: border-box;
//   }
  .p-inputtext{
      border-top: 0 !important;
      border-left: 0!important;
      border-right: 0 !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 3px!important;
      width: 95%;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none !important;
  }
  .p-inputtext:enabled:hover {
    border-color: #3f51b5 ;
  }

  .p-dropdown {
    border-top: 0 !important;
    border-left: 0!important;
    border-right: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
  }

  .p-calendar {
    border-top: 0 !important;
    border-left: 0!important;
    border-right: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .p-disabled, .p-component:disabled {
    opacity: 1;
  }
  .p-calendar-w-btn .p-inputtext:enabled:focus {
    box-shadow: none !important;
  }
  .p-calendar-w-btn:not(.p-calendar-disabled).p-focus {
    box-shadow: none !important;
  }

  .p-calendar-w-btn .p-datepicker-trigger.p-button {
    padding: 0;
  }
  .p-calendar {
    width: 95%;
  }
  .p-inputnumber {
    width: 95% !important;
  }

 .text-left {
   text-align: left !important;
 }

 .text-center {
   text-align: center !important;
 }

 .text-right {
   text-align: right !important;
 }

 .p-button.p-button-secondary
 {
  color: #000!important;
  background: #fff!important;
  box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 26%), 0 1px 5px 0 rgb(0 0 0 / 16%);
 }

 .p-button.p-button-secondary:enabled:hover {
  background-color: #e8e8e8!important;
  color: #000!important;
 }

 .p-menubar .p-submenu-list  {
   z-index: 100 !important;
 }
 

 .p-inputnumber, p-inputnumber{
  width: 100% !important;
}
.p-card .p-card-title{
  font-size: 1rem;
}
.p-button{
  padding: 0.35rem 0.75rem !important;
}
.one-line-span {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  /* require the following to work on firefox */
  max-height: 2em;
  white-space: nowrap;
  display: block !important;
}
