<div class="grid p-card align-content-center search-container">
    <div class="col-3">
        <div class="p-inputgroup" style="width: 75%;">
            <input type="text" pInputText placeholder="Search with id, name and cid" [(ngModel)] = "studentSearchKeyWord">   
            <button type="button" pButton pRipple label="Search Student" (click)="search('student')" ></button>       
        </div>
    </div>
    <div class="col-3">
        <div class="p-inputgroup" style="width: 70%;">
            <input type="text" pInputText placeholder="Search with id or name" [(ngModel)] = "courseSearchKeyWord">
            <button type="button" pButton pRipple label="Search Course"  (click)="search('course')" ></button>          
        </div>
    </div>
    <div class="col-3">
        <div class="p-inputgroup" style="width: 70%;">
            <input type="text" pInputText placeholder="Search with id or name"  [(ngModel)] = "trainerSearchKeyWord">  
            <button type="button" pButton pRipple label="Search Trainer"  (click)="search('trainer')"></button>        
        </div>
    </div>
    <div class="col-3" style="text-align: right;">
        <button style="margin-right: 10px;" pButton pRipple  type="button"  style="margin-right: 10px;" label="Show All" (click)="showAll()" ></button>
        <span *ngIf="isEditable">
            <button style="margin-right: 10px;" pButton pRipple  [disabled]="!isEditable"   type="button" label="Create Student" (click)="create()" class="p-button-success"></button>
        </span>
        <button *ngIf="students.length > 0"  pButton  type="button" class="p-button-success" label="Export" (click)="export()" ></button>  
    </div>
</div>

<div class="grid p-card table-container">
    <div class="col-6" [hidden]="searchInfo != 'student' " ><strong style="font-size: 1rem;">Student List</strong></div>
    <div class="col-6" style="text-align: right;" *ngIf="selectedStudents.length > 0 && isEditable && searchInfo == 'student' ">
        <p-button label="Delete" (click)="deleteStudents()" icon="pi pi-users" styleClass="p-button-danger" [badge]="selectedStudents.length" badgeClass="p-badge-danger"></p-button>
    </div>
    <div [hidden]="searchInfo != 'student' " class="col-12" style="margin-top: 5px;">
        <p-table  #dt rowHover="true" styleClass="p-datatable-striped" [(selection)]="selectedStudents"  [value]="students" [paginator]="true" [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]" [totalRecords]="totalStudents" [lazy]="true" [lazyLoadOnInit]="false"
            (onLazyLoad)="lazyLoadEvent($event)"  scrollable="true" scrollHeight="600px"  
            [loading] = "tableLoading"> 
            <ng-template pTemplate="header">
                <tr >
                    <th style="max-width: 50px;">
                        <p-checkbox [(ngModel)]="deleteAll" (click)="checkAll()" binary="true" inputId="binary"></p-checkbox>
                        
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="id">
                        Student ID
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th  style="min-width: 200px;" class="justify-content-start" pSortableColumn="name">
                        Student Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start"  pSortableColumn="cid">
                        CID
                        <p-sortIcon field="cid"></p-sortIcon>
                    </th>
                    <th  style="max-width: 150px;" class="justify-content-start" pSortableColumn="did">
                        DID
                        <p-sortIcon field="did"></p-sortIcon>
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="email">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="dateOfBirth">
                        Date of Birth
                        <p-sortIcon field="dateOfBirth"></p-sortIcon>
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="mobileNo">
                        Phone 
                        <p-sortIcon field="mobileNo"></p-sortIcon>
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="gender">
                        Gender
                        <p-sortIcon field="gender"></p-sortIcon>
                    </th>
                    <th style="max-width: 150px;" class="justify-content-start" pSortableColumn="batchNo">
                       Batch No
                        <p-sortIcon field="batchNo"></p-sortIcon>
                    </th>
                    <th style="min-width: 230px;" class="justify-content-center">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr #row class="p-selectable-row" [pSelectableRow]="rowData" id="{{ rowData.Id }}">
                    <td style="max-width: 50px;">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td style="max-width: 150px;">
                        {{rowData.id}}
                    </td>
                    <td style="min-width: 200px;" class="justify-content-start">
                        {{ rowData.name }}
                    </td>
                    <td style="max-width: 150px;" class="justify-content-start">
                        {{ rowData.cid }}
                    </td>
                    <td style="max-width: 150px;" class="justify-content-start"> 
                        {{ rowData.did }}
                    </td>
                    <td style="max-width: 150px;" class="justify-content-start">
                        {{ rowData.email }}
                    </td>
                    <td style="max-width: 150px;"  class="justify-content-start">
                        {{rowData.dateOfBirth || "" | date: "dd/MM/yyyy"}}
                    </td>
                    <td style="max-width: 150px;" class="justify-content-start">
                        {{ rowData.mobileNo }}
                    </td>
                    <td style="max-width: 150px;" class="justify-content-start">
                        {{ rowData.gender }}
                    </td>
                    <td style="max-width: 150px;" class="justify-content-start">
                        {{rowData.batchNo}}
                    </td>
                    <td style="min-width: 230px;" class="justify-content-center">
                            <button (click)="viewStudent(rowData.id)" pButton pRipple type="button" style="margin-right: 7px;" label="View" class="p-button-info"></button>
                            <button *ngIf="isEditable"  (click)="editStudent(rowData.id)" pButton pRipple type="button" style="margin-right: 7px;" label="Edit" class="p-button-success"></button>
                            <button *ngIf="isEditable" (click)="delete(rowData)" pButton pRipple type="button" label="Delete" class="p-button-danger"></button>

                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="11">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div [hidden]="searchInfo != 'course' " class="col-12 padding-0" >
    <app-course-list #courseList [isShowAll] ='false'></app-course-list>
</div>
<div [hidden]="searchInfo != 'trainer' " class="col-12 padding-0" >
    <app-trainer-list #trainerList [isShowAll] ='false'></app-trainer-list>
</div>



